# Question 1

In [18]:

# Given List...
ages=[19,22,19,24,20,25,26,24,25,24]

# Sorting and printing the list...
print('sorted list is : ', sorted(ages))

# Minimum age
print("Minimum Age is : ", min(ages))

# Maximum age
print("Maximum Age is : ", max(ages))

# Appending Minimum age to the list
ages.append(min(ages))
print("Appending the Min: ", ages)

# Appending Maximum age to the list
ages.append(max(ages)) 
print("Appending the Max: ", ages )

# Median of ages
# we can also import numpy and use median function...

middle =len(ages)//2 #Finding the middle index and dividing by 2

sortedList=sorted(ages)
if len(ages) % 2: #checking if the list elements are even
    print("Median : ", sortedList[middle]) # dividing the middle element by 2
else: # Else odd...
    print("Median : ", (sortedList[middle] + sortedList[middle +1]/2.0)) # averaging the both middle indexes

# Average of ages.
# We can also import numpy and use mean function...

avg=sum(ages)/len(ages) #Sum of elements by number of elements
print("Average : ", round(avg,2)) # printing an rounding it to two decimal places.

# Range of Functions 
# Maximum number - Minimum number.
print("Range : ", max(ages)-min(ages))

sorted list is :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age is :  19
Maximum Age is :  26
Appending the Min:  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19]
Appending the Max:  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
Median :  36.0
Average :  22.75
Range :  7

# Question 2

In [3]:
dog = {}  # empty Dictionary
print() #new line
# Adding the keys without values of the dictionary
dog["Name"] = None
dog['color'] = None
dog['breed'] = None
dog['legs'] = None
dog['age'] = None
print(dog)

# Creating student dictionary
student = {
    'first_name': "Paul",
    'last_name': "Dakkumalla ",
    'gender': 'Male',
    'age': 21,
    'marital status': 'Single',
    'skills': ['communication', 'problem solving'],
    'country': 'India',
    'city': 'Hyderabad',
    'address': '506 Almas Street',
}

print() #new line
# finding length using len()
print(len(student))


print() #new line
# Getting the type of skills
print(type(student['skills']))


# Adding another skill value and printing it.
print() #new line
student['skills'].append('Teamwork')
print(student['skills'])

# Getting the keys as list.
# can also convert the keys() to list and printing them...
print() #new line
print(student.keys())
print() #new line

# Getting the values as list.
# can also convert the values() to list and printing them...
print(student.values())

{'Name': None, 'color': None, 'breed': None, 'legs': None, 'age': None}

9

<class 'list'>

['communication', 'problem solving', 'Teamwork']

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

dict_values(['Paul', 'Dakkumalla ', 'Male', 21, 'Single', ['communication', 'problem solving', 'Teamwork'], 'India', 'Hyderabad', '506 Almas Street'])

# Question 3

In [4]:
# Creating a bro tuple

brothers=('Maaz','Kevin','Charles')

#creating a Sis tuple
sisters=('Susannah','Amy','Sheena','Sheryl')

#adding these two tuples

siblings=brothers + sisters


print() #new line
#length of siblings tuple
print(len(siblings))
# Adding Parents names...

#converting the siblings tuple into a list.
#Tuples are immutable. We cannot append or extend. So, I am converting it to List first.
sibList=list(siblings)
#parents List
parents=['Prakash','Vijaya']

# adding parents list to siblings list 
sibList.extend(parents)

# again changing the sibList to Tuple 

family_members=tuple(sibList)


print() #new line
# Printing the family members

print(family_members)

print() #new line

7

('Maaz', 'Kevin', 'Charles', 'Susannah', 'Amy', 'Sheena', 'Sheryl', 'Prakash', 'Vijaya')

# Question 4

In [23]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26} 
B = {19, 22, 20, 25, 26, 24, 28, 27} 
age = [22, 19, 24, 25, 26, 24, 25, 24]  

#Length of it_companies
print('Length of it_companies: ', len(it_companies))

#adding an element to  a set
it_companies.add('Twitter')

#Adding more it companies
more_it_companies = {'Netflix','TCS','Accenture'}

print() #new line
#adding multi it companies to set it_companies 
New_it_companies=more_it_companies.union(it_companies)

#remove an item from _it_companies

print() #new line
New_it_companies.remove('Netflix')

#printing the rest It_companies
print(New_it_companies)

# Joining the A and B
joi=A.union(B)
print("Joined: ", joi)

#intersection
inte=A.intersection(B)
print("Intersection : ", inte)

# is subset.
print(A.issubset(B))

# is disjoint
print(A.isdisjoint(B)) 

# A join to B and B join A
print(A.union(B))

print(B.union(A))

# Symmetric Difference between A and B.
print('The symmetry between A and B is = ', A.symmetric_difference(B))

# Removing the sets...
New_it_companies.clear()
A.clear()
B.clear()


# converting Ages to set and finding the length. 
Ages=set(age)
print("length of Ages: ", len(Ages))

Length of it_companies:  7


{'Amazon', 'Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Microsoft', 'TCS', 'Accenture', 'Twitter'}
Joined:  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection :  {19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
The symmetry between A and B is =  {27, 28}
length of Ages:  5

# Question 5

In [24]:
radius = 30

# Calculating Area of Circle...

_area_of_circle_= 3.14 * radius * radius 

print(_area_of_circle_)

# Calculating Circumference of Circle...

_circum_of_circle_= 2 * 3.14 * radius

print(_circum_of_circle_)

# Now Taking the radius from user and calculating the area...

radius1= int(input("Enter the radius: "))

area = 3.14 * radius1 * radius1

print(area)

2826.0
188.4
Enter the radius: 13
530.66

# Question 6

In [10]:
sentence="I am a teacher and I love to inspire and teach people"

# Finding the unique word length 
print(len(set(sentence.split())))

# printing the unique words...
print(set(sentence.split()))

10
{'am', 'and', 'teacher', 'to', 'teach', 'I', 'love', 'inspire', 'people', 'a'}

# Question 7

In [12]:
#  using tab sapce \t...
print('Name \t Age \t Country City \n Asabeneh \t 250 \t Finland Helsinki')

Name 	 Age 	 Country City
 Asabeneh 	 250 	 Finland Helsinki

# Question 8

In [14]:
radius = 10

area = 3.14 * radius ** 2

#printing the output using string formatting...

print(f'The area of a circle with radius {radius} is {round(area)} meters square.')

The area of a circle with radius 10 is 314 meters square.

# Question 9

In [17]:
# user input 
num=int(input('Enter the number of weights you want to enter in  lbs: '))

# empty list
weight_in_kgs=[]

# empty list 
weight_in_lbs=[]

# appending the inputs to a list
for i in range(num):
    weight_in_lb=float(input('enter weights: '))
    weight_in_lbs.append(weight_in_lb)
for j in weight_in_lbs:
    weight_in_kgs.append(round(j*0.45359,2))
print ('Weight in Kilograms are: ', weight_in_kgs)

Enter the number of weights you want to enter in  lbs: 4
enter weights: 150
enter weights: 155
enter weights: 145
enter weights: 148
Weight in Kilograms are:  [68.04, 70.31, 65.77, 67.13]

# Question 10